body{
    background: #F3F5FC;
    font-family: 'Inter', sans-serif;
}

header{
    background: #0A3871;
    display: flex;
    padding: 10px;
    justify-content: flex-start;
    margin-bottom: 10px;
}

header img{
    width: 90px;
    height: 32px;
}

header h1{
    font-size: 2em;
    color: #F3F5FC;
}
main{
    padding: 0 40px;
}



.input-output{
    display: flex;
    justify-content: space-between;
    gap: 4em;
}

.input-mensaje{
    display: flex;
    align-items: stretch;
    flex: 1;
}

.input-mensaje textarea{
    padding: 12px 20px;
    border: none;
    box-sizing: border-box;
    width: 100%;
    color: #0A3871;
    font-size: 20px;
    resize: none;
    
}


.input-mensaje textarea::placeholder{
    color: #0A3871;
    font-size: 20px;
}

.output{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.output h2{
    font-size: 25px;
    font-weight: bold;
    color: #343A40;
}

.output p{
    color: #495057;
}

.output button{
    border-radius: 24px;
    border-width: 1px;
    border-style: solid;
    border-color:#0A3871 ;
    padding: 15px 20px;
    width: 100%;
    font-size: 18px;
    color: #0A3871;
    margin: 20px 0;
    cursor: pointer;
}

.output button:hover{
    background: #0A3871;
    color: white;
    border: none;
}

.contador{
    margin: 10px 0;
    display: flex;
    align-items: baseline;
    gap: 2em;
}

.contador button{
    border-radius: 24px;
    border-width: 1px;
    border-style: solid;
    padding: 5px 10px;
}


.reglas{
    margin: 20px 0;
    color: #495057;
}

.reglas i{
    display: inline;
    float: left;
    margin-right: 10px;

}

.reglas p{
    margin: 0 10px;
}

#btn-convertir{
    margin: 15px 0 0 0;
    
}

.error{
    color: red;
    font-size: 20px;
}

.contenedor-opciones{
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
    gap: 3em;

}

.contenedor-opciones button{
    border-radius: 24px;
    border-width: 1px;
    border-style: solid;
    border-color:#0A3871 ;
    padding: 15px 20px;
    width: 100%;
    font-size: 18px;
    color: #0A3871;
}

.contenedor-opciones button:hover{
    cursor: pointer;
}

footer{
    text-align: center;
    padding: 40px;
    font-weight: bold;
    background: url(/img/textura-footer.jpg);
}

footer p{
    font-size: 14px;
    margin: 20px;
}


/*Estilos para tablets y celulares*/
@media screen and (max-width:700px) {
    .input-output{
        flex-wrap: wrap;
    }

    header{
        flex-wrap: wrap;
    }
    header img{
        width: 70px;
        height: 20px;
    }
    header h1{
        font-size: 1em;
    }


    .output {
        flex-wrap: wrap;
    }

    .contenedor-opciones {
        flex-wrap: wrap;
    }

}